*{
    margin: 0;
    padding: 0;
    /* background-color: #9ABBDE; */
}
img{
    max-width: 100%;
}
.container{
    display: flex;
    align-items: center;
    
}
.bg_image{
    
    background-size: cover;
    padding: 1rem;
    width: 50%;
    
}
.loginContainer{
    width: 30%;
    height:fit-content;
    background-color: #9ABBDE;
    position:relative; 
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    margin-right: 1rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    opacity: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 136, 167, 200, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
input {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: none;
    padding-left: 1rem;
    margin-top: 1rem;
    
   
}
input:focus{
    outline: none;
    background-color: #ffff;
    border-radius: 0.5rem;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
    
}
::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
:-moz-placeholder { /* Firefox 18- */
    color: gray;
}


button{
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    color: #ffff;
    background-color: #88a7c8;
    box-shadow: 1px 1px 1px 1px  #788ba0;
   
   
}
button:hover{
    box-shadow: 1px 2px 2px 2px  #788ba0;
}

.main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #88a7c8;
    margin-top: 2rem;
    font-size: larger;
    
}

h3{
    color: #88a7c8;
    margin-bottom: 2rem;
    /* text-shadow: 1px 1px 1px #788ba0; */
    opacity: 100%;
}


.fa-google {
    background: 
      linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
      linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
    
      linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
      linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
      #34a853;
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  

/*loading screen style*/

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #88a7c822;
    
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color:  #88a7c84d transparent #88a7c84d transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media only screen and (max-width: 600px) {
    h3{
        color: #1a1f25;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg_image{
        background-size: cover;
        padding: 1rem;
        width: 100%;
    }
    .loginContainer{
        width: 80%;
        height:fit-content;
        position:fixed;
        margin-top: 6rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba( 136, 167, 200, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }

}
