.heading-container{
    /* width: 90%;
    flex:2; */
    height: fit-content;
    padding: 1rem;
    padding-left: 2rem;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
  
}
h1{
    color: rgba(136, 167, 200, 0.996);;
   
}
