*{
    margin: 0;
    padding: 0;
}
.NavbarItems{
    display: flex;
    flex-direction: column;
    height: auto;
    width: fit-content;
    padding: 1.5rem;
    position: fixed;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    background: rgba( 136, 167, 200, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}
.NavbarItems-expanded{
    display: flex;
    flex-direction: column;
    height: auto;
    width: fit-content;
    padding: 1.5rem;
    position: fixed;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    background: rgba( 136, 167, 200, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}


ul{
    list-style-type: none;
    
}

.items-li{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    
}

.item-text{
    margin-left: 2rem;
    
}
.item-text:hover{
    text-shadow: 2px 2px 2px #eee;
}
.item-text-x{
    display: none;
}
/* .items-li-first{
    margin-top: 2rem;
} */
a{
    color: black;
    text-decoration: none;
    
}
.logout-btn{
    display: none;
}
.logout-btn-expanded{
    margin-left: 1rem;
}

.btn-top{
    border-bottom: 0;
    padding: 0;
}
/* @media only screen and (max-width: 600px) {
    .NavbarItems{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 20px;
        position: fixed;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        margin-top: 0.2rem;
    
    } 
    ul{
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 10px;
        align-items: center;
        text-align: center;
        justify-content: end;
        
    }
    li{
        margin-top: 0;
    }
} */