.spinner-small {
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-color:  #fff #fff transparent;
    border-radius: 50%;
    animation: spin-anim-small 1.2s linear infinite;
}

@keyframes spin-anim-small {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

