.dcontainer {
    padding: 150px;
    display: flex;
    flex-direction:row;

}
.circle{
    height: 200px;
    width:200px;
    background-color: grey;
    border-radius: 100px;
}
.lcontainer{
    width: fit-content;
    padding: 10px;

}
.rcontainer{
    width: fit-content;

}
.verified{
    color: #527CEA;
    
}